<div class="wb-table__row" data-event-obj data-event-type="{{ event.type.id }}"
     data-event-location="{{ event.country }}"
     data-event-language="{{ event.spoken_languages | join(',') }}"
     data-event-trainer="{{ event.names_of_trainers | join(',') }}">
        <div class="wb-table__col">
            {{ event.schedule }}
        </div>
        <div class="wb-table__col">{{ event.location }}
            {% if event.free %}
                <div class="wb-table__first-free">{{ __('free', 'wsbintegration') }}</div>
            {% endif %}
        </div>
        <div class="wb-table__col {% if event.type.badge %} with-badge {% endif %} ">
            {% if event.type.badge %}
                <img class="wb-table__img" src="{{ event.type.badge }}">
            {% endif %}
            <a data-widget-go="" href="{{ event.url }}" class="wb-table__link link-msimple">
                {{ event.title }}
            </a>
        </div>
        <div class="wb-table__col">
            {% if event.free %}
                <div class="wb-table__free">free</div>
            {% endif %}
            <a data-widget-go="" href="{{ event.url }}" class="wb-table__btn">
                {{ __('Register', 'wsbintegration') }}
            </a>
        </div>
</div>
