{% if event.tickets.non_empty %}
    <div class="wb-tickets wb-info">
        {% if event.free %}
            <div class="wb-ticket">
                <div class="wb-ticket__val">
                    {{ __('Free', 'wsbintegration') }}
                </div>
                <div class="wb-ticket__footer">
                    {{ event.tickets.free.formatted_state }}
                </div>
            </div>
        {% else %}
            {% for ticket in event.tickets.paid %}
                <div class="wb-ticket {% if not ticket.is_active %} state-closed {% endif %}">
                    <div class="wb-ticket__val">
                        {{ ticket.formatted_price }}
                    </div>
                    <div class="wb-ticket__name">
                        {{ ticket.name }}
                    </div>
                    <div class="wb-ticket__desc">
                        {{ ticket.formatted_description }}
                    </div>
                    <div class="wb-ticket__footer">
                        {{ ticket.formatted_state }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
