<div class="wb-tile" data-event-obj data-event-type="{{ event.type.id }}"
     data-event-location="{{ event.country }}"
     data-event-language="{{ event.spoken_languages| join(',') }}"
     data-event-trainer="{{ event.names_of_trainers| join(',') }}">
    {{ content }}
</div>
