{% macro formField(field, countries) %}
    {% set showField = field.type is not same as("ticket") or paidTicketTypes|length > 0 %}
    {% if showField %}
        <div class="wb-form__field">
            <div class="wb-form__label">
                {% if field.type is not same as("checkbox") %}
                    {{ __(field.label, 'wsbintegration') }}
                    {% if field.required %}
                        <span class="wb-form__required">*</span>
                    {% endif %}
                {% endif %}
            </div>
            <div class="h-rel">
                {% if field.type is same as("textarea") %}
                    <textarea name="{{ field.name }}" data-control title="{{ __(field.label, 'wsbintegration') }}"
                              class="form-control wb-form__input
                                {% if field.required %} _validate-required {% endif %}"
                              style="height : 90px ;" cols="30" rows="10"></textarea>
                {% elseif field.type is same as ("select") %}
                    <select name="{{ field.name }}" title="{{ __(field.label, 'wsbintegration') }}"
                            data-control
                            class="form-control wb-form__input
                                {% if field.required %} _validate-required {% endif %}">
                        {% for option in field.options %}
                            <option value="{{ option.value }}">{{ __(option.label, 'wsbintegration') }}</option>
                        {% endfor %}
                    </select>
                {% elseif field.type is same as("country") %}
                    <select name="{{ field.name }}" title="{{ __(field.label, 'wsbintegration') }}"
                            data-control
                            class="form-control wb-form__input
                                {% if field.required %} _validate-required {% endif %}">
                        <option value="" selected disabled>{{ __('Choose country', 'wsbintegration') }}</option>
                        {% for code, name in countries %}
                            <option value="{{ code }}">{{ __(name, 'wsbintegration') }}</option>
                        {% endfor %}
                    </select>
                {% elseif field.type is same as("checkbox") %}
                    <label class="wb-form__checkbox">
                        <input name="{{ field.name }}" type="checkbox"
                               class="form-control wb-form__input wb-form__checkbox-real
                                       {% if field.required %} _validate-required {% endif %}" value="yes" data-control/>
                        <i class="wb-form__checkbox-img"></i>
                        {{ __(field.label, 'wsbintegration') }}
                    </label>
                {% else %}
                    <input name="{{ field.name }}" title="{{ __(field.label, 'wsbintegration') }}"
                           type="{{ field.type }}"
                           class="form-control wb-form__input
                               {% if field.required %} _validate-required {% endif %}" data-control/>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
