<div data-registration-form>
    <div>
        <div class="wb-congratulation wb-after-registration">
            <h2 class="wb-congratulation__title">
                {{ __('Thank you for the registration', 'wsbintegration') }}
            </h2>
            <div class="wb-congratulation__p">
                {{ __('Further details and your joining instructions will follow shortly by email.', 'wsbintegration') }}
            </div>
        </div>

        <form action="#" class="wb-form wb-before-registration" data-widget-form>
            <div class="wb-form__body">
                <div class="wb-form__title">{{ __('Register for the event', 'wsbintegration') }}</div>
                <div class="wb-form__instructions">{{ event.instructions }}</div>
                {% from "field.twig" import formField as renderFormField %}
                {% for section in event.registration_form %}
                    {% if section.name %}
                        <div class="wb-form__section-title">{{ __(section.name.label, 'wsbintegration') }}</div>
                    {% endif %}
                    {% for field in section.fields %}
                        {{ renderFormField (field, countries) }}
                    {% endfor %}
                {% endfor %}
                <div class="wb-form__error" data-form-major-error></div>
                <button data-widget-submit type="submit" class="btn btn-primary wb-form__btn">
                    {{ __('Register', 'wsbintegration') }}
                </button>
            </div>
        </form>
    </div>
</div>
