{% for event in events %}
    <div class="wsb-workshop {% if highlight_featured and event.featured %} wsb-featured {% endif %}">
        {{ include('tag.twig') }}
        {{ wsb_f(event.schedule) }}, {{ wsb_f(event.location) }}
        <br>
        <a href="{{ event.get_url() }}" {% if event.is_url_external %} target="_blank" {% endif %} >
            {{ event.title }}
        </a>
    </div>
{% endfor %}
