<div class="wsb-trainer-tile" data-trainer-obj
     data-trainer-location="{{ trainer.works_in | join(',') }}"
     data-trainer-language="{{ trainer.languages |join(',') }}"
     data-trainer-rating={{ trainer.stats.total.public_stats.rating }}
     data-trainer-badge="{{ trainer.name_of_badges |join(',') }}"
     data-trainer-trainer="{{ trainer.get_full_name }}">
    {{ content | raw }}
</div>
