{% if field.name is same as("promo_code") %}
    <div class="wsb-promo-block">
        <a href="#" class="wsb-promo-link" data-promo-link>{{ wsb_t('form.promo.caption') }}</a>
        <input class="wsb-promo-code" data-promo-code
               name="{{ field.name }}" title="{{ field.label }}"
               {% if disabled %} disabled {% endif %}
               type="{{ field.type }}" {% if field.required %} required {% endif %} data-control/>
    </div>
{% else %}
    <input name="{{ field.name }}" title="{{ label }}"
           type="{{ field.type }}" data-control
            {% if field.required %} required {% endif %}
            {% if event.state.closed() %} disabled {% endif %}
    />
{% endif %}
