<div class="wsb-tile" data-event-obj data-event-type="{{ event.type.id }}"
     data-event-location="{{ event.location.countryCode }}"
     data-event-language="{{ event.language.spoken| join(',') }}"
     data-event-trainer="{{ event.names_of_trainers| join(',') }}">
    {{ content | raw }}
</div>
