{% set url = event.cover_image.thumbnail %}
{% if url %}
    {% if without_url %}
        <img src="{{ url }}" alt="{{ event.title }}" width="{{ width }}" height="{{ height }}"/>
    {% else %}
        <a href="{{ event.get_url() }}">
            <img src="{{ url }}" alt="{{ event.title }}"  width="{{ width }}" height="{{ height }}"/>
        </a>
    {% endif %}
{% endif %}
