<div class="{% if layout == 'table' %} wsb-table__row {% else %} wsb-tile {% endif %}
    {% if highlight_featured and event.featured %} wsb-featured {% endif %}"
     data-event-obj
     data-event-type="{{ event.type.id }}"
     data-event-location="{{ event.get_country_code }}"
     data-event-language="{{ event.get_spoken_languages| join(',') }}"
     data-event-trainer="{{ event.get_names_of_trainers| join(',') }}">
    {% if layout == 'table' %}
        {% set mobile = true %}
    {% endif %}
    {{ include('tag.twig') }}
    {{ content | raw }}
</div>
