{% if layout == 'tile' %}
    <div class="wsb-tile-content">
        {% for trainer in event.trainers %}
            <div class="wsb-trainer">
                {% if trainer.url %}
                    <a href="{{ trainer.url }}">
                        <img class="wsb-photo" src="{{ trainer.photo }}"/>
                    </a>
                    <a class="wsb-name" href="{{ trainer.url }}"> {{ trainer.full_name }}</a>
                {% else %}
                    <img class="wsb-photo" src="{{ trainer.photo }}"/>{{ trainer.full_name }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="wsb-table__col">
        {% for trainer in event.trainers %}
            <div class="wsb-trainer">
                {% if trainer.url %}
                    <a href="{{ trainer.url }}">
                        <img class="wsb-photo" src="{{ trainer.photo }}"/>
                    </a>
                    <a class="wsb-name" href="{{ trainer.url }}"> {{ trainer.full_name }}</a>
                {% else %}
                    <img class="wsb-photo" src="{{ trainer.photo }}"/>{{ trainer.full_name }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
