{% macro table(events, tmpl) %}
    {% from "event/row.twig" import drawRow as drawRow %}
    <div class="wb-event-list">
        <div class="wb-table" data-event-list>
            <div class="wb-table__head">
                <div class="wb-table__col">{{ __('When', 'wsbintegration') }}</div>
                <div class="wb-table__col">{{ __('Where', 'wsbintegration') }}</div>
                <div class="wb-table__col">{{ __('What', 'wsbintegration') }}</div>
                <div class="wb-table__col"></div>
            </div>
            {% for event in events %}
                {{ drawRow(event) }}
            {% endfor %}
        </div>
        <div class="wb-no-events">
            {{ __('No events were found', 'wsbintegration') }}
        </div>
    </div>
{% endmacro %}
