<div class="wsb-events">
    <div class="wsb-events__title">
        {{ __('event.share', 'wsbintegration') }}:
    </div>
    <div class="wsb-sharing js-sharing" data-title="{{ event.title }}" data-summary="{{ event.title }}. {{ wsb_f(event.schedule) }}, {{ wsb_f(event.location) }}" data-hashtags="training">
        <a href=""
           onclick="window.open('http://twitter.com/intent/tweet?url=' + window.location.href + '&text=' + jQuery(this).parent('div').data('summary'), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           class="wsb-sharing__icon type-tw" data-share-link="twitter" target="_blank">Twitter</a>
        <a href=""
           onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url=' + window.location.href + '&title=' + jQuery(this).parent('div').data('title') + '&summary=' + jQuery(this).parent('div').data('summary'), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           class="wsb-sharing__icon type-ld" data-share-link="linkedin" target="_blank">LinkedIn</a>
        <a href=""
           onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + window.location.href + '&t=' + jQuery(this).parent('div').data('title') + '&text=' + jQuery(this).parent('div').data('summary'), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
           class="wsb-sharing__icon type-fb" data-share-link="facebook" target="_blank">Facebook</a>
    </div>
</div>
