{% if event.with_tickets %}
    <div class="wsb-tickets wsb-info">
        {% if event.free %}
            <div class="wsb-ticket">
                <div class="wsb-ticket__val">
                    {{ wsb_t('event.ticket.free') }}
                </div>
                <div class="wsb-ticket__name">
                    {{ wsb_t('event.ticket.freeDescr') }}
                </div>
                <div class="wsb-ticket__footer">
                    {{ wsb_f(event.tickets, 'state') }}
                </div>
            </div>
        {% else %}
            {% for ticket in event.tickets.types %}
                {% set visible = show_expired_tickets or ticket.active() or ticket.in_future() %}
                {% if visible %}
                    <div class="wsb-ticket {% if not ticket.active %} state-closed {% endif %}">
                        <div class="wsb-ticket__val">
                            {{ wsb_f(ticket, 'price') }}
                        </div>
                        <div class="wsb-ticket__name">
                            {{ ticket.name }}
                        </div>
                        {% set ticketDescr = wsb_f(ticket, 'desc') %}
                        {% if ticketDescr %}
                            <div class="wsb-ticket__desc">
                                {{ ticketDescr }}
                            </div>
                        {% endif %}
                        {% if not ticked.ended() and show_number_of_tickets %}
                            <div class="wsb-ticket__footer">
                                {{ wsb_f(ticket, 'state') }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}
